.homepage-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.black {
  background-color: black;
  color: white;
}

.left {
  height: 500px;
  width: 40%;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  height: 240px;
  width: 300px;
}

.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
