.switch-container {
  background-color: black;
  color: white;
  height: 240px;
  width: 300px;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
