li{
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.todolist-container{
    background-color: black;
    color: goldenrod;
    width: 40%;
    height: 500px;
    border-radius: 30px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    
    width: 20px;
    height: 20px;
    border: 2px solid white; 
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    
  }
  
  input[type="checkbox"]:checked {
    background-color: goldenrod;
    border-color: goldenrod;
  }
  
  input[type="checkbox"]:checked::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
  }